<h4>Oversikt over resultatet av tilbakebetalingssaken</h4>
    <table>
        <thead>
        <tr>
            <th class="periode">Periode</th>
            <th>Feilutbetalt beløp</th>
            <th>Tilbakebetaling</th>
        {{#if totalresultat.totalt-rentebeløp}}
            <th>Renter</th>
        {{/if}}
        {{#if skal-ikke-vise-skatt}}
            <th class="sum">Beløp du skal betale tilbake</th>
        {{else}}
            <th>Beløp før skatt</th>
            <th class="sum">Beløp du skal betale tilbake etter skatt er trukket fra</th>
        {{/if}}
        </tr>
        </thead>
        <tbody>
    {{#each perioder }}
        <tr>
            <td class="periode">{{periode.fom-kompakt}} – {{periode.tom-kompakt}}</td>
            <td class="tall">{{kroner kravgrunnlag.feilutbetalt-beløp}}</td>
            {{#if (not resultat.tilbakekreves-beløp)}}
            <td>Ingen tilbakebetaling</td>
            {{else if (eq resultat.tilbakekreves-beløp kravgrunnlag.feilutbetalt-beløp)}}
            <td>Hele beløpet</td>
            {{else}}
            <td>Deler av beløpet</td>
            {{/if}}
            {{#if totalresultat.totalt-rentebeløp}}
            <td class="tall">{{#if resultat.renter-beløp}}{{kroner resultat.renter-beløp}}{{/if}}</td>
            {{/if}}
            {{#if (not skal-ikke-vise-skatt)}}
            <td class="tall">{{kroner resultat.tilbakekreves-beløp-med-renter}}</td>
            {{/if}}
            <td class="tall sum">{{kroner resultat.tilbakekreves-beløp-uten-skatt-med-renter}}</td>
        </tr>
    {{/each}}
        <tr>
            <td class="periode sumrad">Sum</td>
            <td class="tall sumrad"></td>
            <td class="sumrad"></td>
        {{#if totalresultat.totalt-rentebeløp}}
            <td class="tall sumrad"></td>
        {{/if}}
        {{#if (not skal-ikke-vise-skatt)}}
            <td class="tall sumrad">{{kroner totalresultat.totalt-tilbakekreves-beløp-med-renter}}</td>
        {{/if}}
            <td class="tall sum sumrad">{{kroner totalresultat.totalt-tilbakekreves-beløp-med-renter-uten-skatt}}</td>
        </tr>
        </tbody>
    </table>