{{#* inline "linebreaks-header"}}{{#if totalresultat.totalt-rentebeløp}}<br/>{{/if}}{{#if (not skal-ikke-vise-skatt)}}<br/>{{/if}}{{/inline}}
    <h4>Oversikt over resultatet av tilbakebetalingssaka</h4>
    <table>
        <thead>
        <tr>
            <th>Periode{{> linebreaks-header}} </th>
            <th>Feilutbetalt beløp{{> linebreaks-header}} </th>
            <th>Tilbakebetaling{{> linebreaks-header}} </th>
{{#if totalresultat.totalt-rentebeløp}}
            <th>Renter{{> linebreaks-header}} </th>
{{/if}}
{{#if skal-ikke-vise-skatt}}
            <th>Beløp du skal betale tilbake</th>
{{else}}
            <th>Beløp før skatt{{> linebreaks-header}} </th>
    {{#if totalresultat.totalt-rentebeløp}}
            <th>Beløp du skal betale<br/>tilbake etter at skatt<br/>er trekt frå</th>
    {{else}}
            <th>Beløp du skal betale tilbake<br/>etter at skatt er trekt frå</th>
    {{/if}}
{{/if}}
        </tr>
        </thead>
        <tbody>
{{#each perioder }}
        <tr>
            <td>{{periode.fom-kompakt}} – {{periode.tom-kompakt}}</td>
            <td class="tall">{{kroner kravgrunnlag.feilutbetalt-beløp}}</td>
{{#if (not resultat.tilbakekreves-beløp)}}
            <td>Inga tilbakebetaling</td>
{{else if (eq resultat.tilbakekreves-beløp kravgrunnlag.feilutbetalt-beløp)}}
            <td>Heile beløpet</td>
{{else}}
            <td>Delar av beløpet</td>
{{/if}}
{{#if totalresultat.totalt-rentebeløp}}
            <td class="tall">{{#if resultat.renter-beløp}}{{kroner resultat.renter-beløp}}{{/if}}</td>
{{/if}}
{{#if (not skal-ikke-vise-skatt)}}
            <td class="tall">{{kroner resultat.tilbakekreves-beløp-med-renter}}</td>
{{/if}}
            <td class="tall sum">{{kroner resultat.tilbakekreves-beløp-uten-skatt-med-renter}}</td>
        </tr>
{{/each}}
        <tr>
            <td class="sumrad">Sum</td>
            <td class="tall sumrad"></td>
            <td class="sumrad"></td>
{{#if totalresultat.totalt-rentebeløp}}
            <td class="tall sumrad"></td>
{{/if}}
{{#if (not skal-ikke-vise-skatt)}}
            <td class="tall sumrad">{{kroner totalresultat.totalt-tilbakekreves-beløp-med-renter}}</td>
{{/if}}
            <td class="tall sum sumrad">{{kroner totalresultat.totalt-tilbakekreves-beløp-med-renter-uten-skatt}}</td>
        </tr>
        </tbody>
    </table>